.slantedEdge {
  --p: 30px; /* control the shape (can be percentage) */
  clip-path: polygon(0 0, calc(100% - var(--p)) 0, 100% 100%, 0 100%);
}

.slantedEdge2 {
  --p: 30px; /* control the shape (can be percentage) */
  clip-path: polygon(0 0, 100% 0, 100% 100%, var(--p) 100%);
}
